.home {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) url('../../Assets/sea.jpg') center center/cover
    no-repeat;
  filter: blur(3px);
  box-shadow: none;
  padding: 50px 0 50px 0;
}
.home-content {
  position: absolute;
  top: 100px;
  padding-left: 100px;
  padding-top: 50px;
  color: #fff;
}
.home-content h1 {
  color: rgb(197, 237, 240);
  text-shadow: 1px 2px 1px #000;
  font-family: serif;
  font-size: 3rem;
}
.home-content p {
  color: rgb(0, 0, 0);
  font-family: 'Satisfy', cursive;
  font-size: 16px;
}
.home-content span {
  color: rgb(59, 4, 21);
  font-family: 'Courgette', cursive;
}
/* font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Satisfy', cursive; */
.home-content strong {
  color: rgb(253, 7, 7);
}
.home-content button {
  color: rgb(0, 0, 0) !important;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(15, 221, 236);
  font-family: 'Courgette', cursive;
}
